@model Nimap_Machine_Test.Models.Validation_Class.Category_valid_class
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
</head>
<body>
    <div>
        <h2>Search</h2>
        @using (Html.BeginForm("Search", "Category", FormMethod.Post))
        {
            <table>
                <tr><td>@Html.LabelFor(x => x.Category_id)</td><td>@Html.DisplayTextFor(x => x.Category_id)</td><td>@Html.ValidationMessageFor(x => x.Category_id)</td></tr>
                <tr><td>@Html.LabelFor(x => x.Category_Name)</td><td>@Html.DisplayTextFor(x => x.Category_Name)</td><td>@Html.ValidationMessageFor(x => x.Category_Name)</td></tr>

                <br />
                <tr><td colspan="3">@Html.ActionLink("Back", "Index")</td></tr>
            </table>
        }
    </div>
</body>
</html>
