@model Nimap_Machine_Test.Models.Validation_Class.Product_valid_Class
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
</head>
<body>
    <div>
        <div>
            <h2>Search</h2>
            @using (Html.BeginForm("Search", "Product", FormMethod.Post))
            {
                <table>
                    <tr><td>@Html.LabelFor(x => x.Product_id)</td><td>@Html.DisplayTextFor(x => x.Product_id)</td><td>@Html.ValidationMessageFor(x => x.Product_id)</td></tr>
                    <tr><td>@Html.LabelFor(x => x.Product_Name)</td><td>@Html.DisplayTextFor(x => x.Product_Name)</td><td>@Html.ValidationMessageFor(x => x.Product_Name)</td></tr>

                    <br />
                    <tr><td colspan="3">@Html.ActionLink("Back", "Index")</td></tr>

                </table>
            }
        </div>
    </div>
</body>
</html>
